.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 100px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  
}

.in-div {
  border-width: 1px;
  border-style: solid;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
}

.inner-div {
  padding: 16px;
}

.termekek-pics {
  width: 100%;
}

.mybutton {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  background-color: lightskyblue;
}