.termek-details-header{
  margin-top: 30px;
  margin-left: 60px;
}

.termek-details-input {
  width: 384px;
  margin-left: 12px;
  margin-bottom: 20px;
}

.termek-details-main-div {
  margin-left: 40px;
  margin-right: 40px;
  width: 560px;
  background-color: rgb(233, 233, 233);
  padding-top: 30px;  
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.termek-details-main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.termek-details-img {
  margin-top: 50px;
}

.termek-details-div {
  display: flex;
  flex-direction: row;

}

.termek-details-p {
  width: 144px;
  text-align: right;
}

.termek-details-button-div {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.termek-details-button {
  margin-right: 20px;
  margin-bottom: 10px;
}